.nav-container {
  overflow: hidden !important;
}

#nav-trigger {
  background-color: rgba(darken($background-color, 5%), .8);
  z-index: 9997;
 
  .is-stuck &{
    background: rgba(darken($background-color, 5%), .8);
    
  }
}
nav a {
	&:hover {
		text-decoration: none;
	}
}

.nav--main {
	text-align: center;
	margin: 0;
}

.nav__link {
  @extend h1;
  font-size: rem(82.558);
	color: $light-text-color;
}

/* transformicons (http://codepen.io/bennettfeely/pen/twbyA) */
/* Change this to watch in slo-mo */
$transition-duration: .5s;


$size : 100%;
$toggled-size : .75;

.navicon-button {
  display: inline-block;
  position: relative;
  padding: rem() 0;
  transition: $transition-duration/2;
  cursor: pointer;
  user-select: none;
  opacity: .8;
  
  .navicon:before, .navicon:after {
    transition: $transition-duration/2;
  }
  
  &:hover {
    transition: $transition-duration;
    opacity: 1;
    
    .navicon:before, .navicon:after {
      transition: $transition-duration/2;
    }
    
    .navicon:after { top: -.825rem; }
    .navicon:before { top: .825rem; }
  }
}

.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: $primary-color;
  transition: $transition-duration;
  border-radius: 2.5rem;

  .open &, .open &:after, .open &:before {
    background: $background-color;
  }
  
  &:after, &:before {
    display: block;
    content: "";
    height: .3125rem;
    width: 2.5rem;
    background: $primary-color;
    position: absolute;
    z-index: -1;
    transition: $transition-duration ($transition-duration/2);
    border-radius: 1rem;
  }

  &:after { top: -.625rem; }
  &:before { top: .625rem; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $transition-duration;
}

/* Minus */
.navicon-button.open {
  @include scale($toggled-size);
  &:hover {
    @include scale($toggled-size + .1);
  }
 }



/* × and + */
.open.plus,
.open.x {
  .navicon {
    background: transparent;
    
    &:after {  @include rotate(45); }  
    &:before {  @include rotate(-45); }  
  }
}
.open.plus { @include scale($toggled-size);
            @include rotate(45) }
