/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */
$menu-width: 250px;

.pushy {
    position: fixed;
    width:  $menu-width;
    height: 100%;
    overflow: scroll;
    top: 0;
    z-index: 9999;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

/* Menu Movement */

.pushy-left, .menu-btn  {
    -webkit-transform: translate3d(- $menu-width,0,0);
    -moz-transform: translate3d(- $menu-width,0,0);
    -ms-transform: translate3d(- $menu-width,0,0);
    -o-transform: translate3d(- $menu-width,0,0);
    transform: translate3d(- $menu-width,0,0);
}

.pushy-open, .menu-btn  {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d( $menu-width,0,0);
    -moz-transform: translate3d( $menu-width,0,0);
    -ms-transform: translate3d( $menu-width,0,0);
    -o-transform: translate3d( $menu-width,0,0);
    transform: translate3d( $menu-width,0,0);
}

/* Menu Transitions */

.pushy, .nav-push , .push, .menu-btn{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-active .site-overlay, .pushy-active .menu-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:  $menu-width;
    z-index: 9999;
}
