@viewport {
   width: device-width;
}
body {
	background-color: darken($background-color, 5%);
	//border-top: rem(6.03) solid $primary-color;
	@include tap-highlight();
}

*, *:before, *:after {
	@include box-sizing;
}

.center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

}

.center__wrap {
		display: table-cell;
	}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

section {
	padding-bottom: rem(39.814);
}

.content {
	margin: 0 auto;
	max-width: 1020px;
	min-width: 0;
	overflow-x: hidden;
	padding: 0 rem(23.04);
	height: auto;
}

.asside--right {
	padding: 0;
	@include breakpoint(768px){
		padding-left: rem(23.04);
	}
}

.asside--left {
	padding: 0;
	@include breakpoint(768px){
		padding-right: rem(23.04);
	}
}

* .responsive-columns:lastchild {
	margin-right: 0;
}

.responsive-columns {
	float: left;
    vertical-align: top;
    position: relative;
    width: 100%;
	@include breakpoint (550px) {
	    width: 47.2%;
		margin: 0 2.4% 2.4% 0;
	}
    @include breakpoint (769px) {
  		width: 100%;
    }
}

.content__background--full {
	background-size: cover;
}