/* 
Modular Scale: 
http://modularscale.com/scale/?px1=16&px2=&ra1=1.2&ra2=0
*/
/* Font Sizing */
html {
	font-size: 100%;
}

body {
	color: $primary-text-color;
	font-size: rem(20);
	font-style: normal;
	font-weight: 100;
	@include typekit-sans("museo-sans"); 
}

::selection {
	background: $secondary-color;
	color: #fff;
}

::-moz-selection {
	background: $secondary-color;
	color: #fff;
}

.icon-arrow-right:before {
	content: "\e600";
}
.icon-arrow-left:before {
	content: "\e601";
}

h1 {
	@include typekit-sans("ff-good-headline-web-pro-con");
	font-size: 7.451rem;
	text-transform: uppercase;
}
h2 {
	font-size: rem(57.332); /* 57.332px */
	//line-height: rem-lh(57.332);
	@include margin-heading(57.332);
	font-style: normal;
	font-weight: 300;
}
h3 {
	@include typekit-sans("ff-good-headline-web-pro-con");
	font-size: rem(39.814);
	line-height: 2.3rem;
	@include margin-heading(39.814);
	text-transform: uppercase;
}
h4 {
	font-size: rem(33.178);
	//line-height: rem-lh(33.178);
	@include margin-heading(33.178);
}
h5 {
	font-size: rem(27.648);
	//line-height: rem-lh(27.648);
	@include margin-heading(27.684);
}
h6 {
	font-size: rem(23.04);
	//line-height: rem-lh(23.04);
	@include margin-heading(23.04);
	font-weight: 300;
}

.small-label {
	font-size: rem();
	font-weight: 300;
	@include margin-heading();
}

a {
	text-decoration: none;
}

p, i, b, em, strong, a, ol, ul, li, dl, dt, dd, figure, figcaption  {
	color: $primary-text-color;
	font-size: rem();
	line-height: rem-lh();
	@include margin-paragraph(23.04);
}

.text-center {
	text-align: center;
}

.btn {
	border: 2px solid;
	border-radius: .75rem;
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	&:hover, &:active {
		text-decoration: none;
	}
}

.btn--full {
	@extend .btn;
	display: block;
	text-align: center;
	width: 100%;
}

@include btn-sizing("btn--sm", 16);
@include btn-sizing("btn--med", 19.2);
@include btn-sizing("btn--lrg", 23.04);

@include btn("orange", $primary-color);
